* {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
  }
  
  a {
    text-decoration: none;
    color: #ea4235;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  body {
    background-color: white;
    margin: 0%;
  }

  header {
    position: fixed;
    background-color: transparent;
    text-transform: uppercase;
    width: 100%;
    color: #1A1A1A;
    transition: 0.4s;
    top: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }


  header a{
      color: #1A1A1A;
  }

  .header-scroll {
    background-color: white;
    transition: 0.6s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  header h1 {
    color: #1A1A1A;
    transition: 0.4s;
    font-size: 1.4rem;

  }
  
  .header-scroll h1 {
    color: #1A1A1A;
    transition: 0.4s;
  }
  
  .headeritems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw
  }
  
  .burger {
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3vw;
  }

  nav .burger {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
  }
  
nav .topnav {
  display: flex;
  flex-direction: column;
}

nav .topnav a {
  padding: 12px;
}

  nav {
    position: absolute;
    background-color: #F3F3F3;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    display: none;
    top: 0;
    align-items: stretch;
    text-transform: uppercase;
    font-size: larger;

  }

  nav a {
    padding-left: 3vw;
    font-family: 'Titillium Web', sans-serif;
    color: #1A1A1A;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 1.2rem;

  }


  .sectionbody {
    margin-left: 3vw;
    margin-right: 3vw;
    padding-top: 10px;
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .aboutcontent{
      max-width: 670px;
      display: flex;
      flex-direction: column;
  }

  .aboutcontainer{
      display: flex;
      justify-content: center;
  }

  h2 {
    color: #1A1A1A;
    text-decoration: none;
    display: block;
    border-bottom: 1.5px solid #575757;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  h3{
    text-transform: uppercase;
    padding-top: 0.8rem;
  }

  h3, p{
    font-size: 0.8rem;
  }


  h3{
    text-transform: uppercase;
    color: #1A1A1A;
  }

  h3, p{
    font-size: 0.8rem;

  }

  p{
    color: #575757;
  }



.productscontainer{
  margin-bottom: 15px;
}

  .projects h3 {
    display: flex;
    align-items: flex-end;
  }
  
  
  nav .topnav {
    display: flex;
    flex-direction: column;
  }
  
  nav .topnav a {
    padding: 12px;
  }
  
  nav .burger {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
  }
  
 footer {
    width: 100%;
    background-color: #f3f3f3;
    text-align: center;
    padding-bottom: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .footerelements{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3vw;
    padding-left: 3vw;
  }

  .footerelements p{
    margin-top: -12px;
  }

  .contactbutton, .contactbutton1 {
    border: solid 1px;
    background-color: transparent;
    color: #9c9c9c;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    justify-content: space-around;
    font-size: 3rem;
  }

   .contactbutton p, .contactbutton1 p{
     color: #9c9c9c;
     font-size: 3rem;
     height: 53px;
   }

   .contactbutton1{
     margin-right: 3vw;
   }

.buttoncontainer1 a{
  border-bottom: solid 1px;
  color: #9c9c9c;
  display: flex;
  width: 94vw;
  justify-content: space-between;
}

.contactline {
  color: transparent;
}



.buttoncontainer2{
  padding-top: 1rem;
  display:flex;
  justify-content: space-between;

}


  @media screen and (min-width: 860px) {

    .burger {
      display: none;
    }
    
    nav .topnav {
      display: flex;
      flex-direction: column;
    }
    
    nav .topnav a {
      padding: 12px;
    }
    
    nav {
      display: flex;
      flex-direction: row;
      background-color: transparent;
      height: 40px;

    }
    nav a {
      color: #707070;
      font-size: 1rem;
    }

    .navlookbook{
      padding-bottom: 0;
      padding-right: 3vw;
    }

  .sectionbody{
    margin-top: 200px;
  }
  }

  @media screen and (min-width: 1300px) {
    .sectionbody{
      margin-bottom: 15vw;
    }

    h3, p, .aboutcontent a {
      font-size: 1rem;

  }

  .aboutcontent {
    max-width: 840px;

}
  }

